@import url("./root.css");

.aboutHero{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?w=1920&h=1080&fit=crop");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutHeroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.values{
    background-color: var(--default-bg);
    text-align: center;
    padding: 112px 0px;
}

.cores{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
}

.core{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 32px;
    grid-column: span 12;
    background-color: #1f2937;
    border-radius: 20px;
    border: 1px solid #1f2937;
}
.core div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--subtitle-color);
    border-radius: 50%;
}
.carticon{
    font-size: 24px;
}

.employeers{
    background-color: #030712;
    text-align: center;
    padding: 112px 0px;
}
.employeer{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
}

.employeer__card{
    grid-column: span 12;
    background-color: #1f2937;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
     border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.employeer__info{
    text-align: left;
    padding: 24px;
     border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}


.experience{
    background-color: #dc2626;
    padding: 122px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience__container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Large phones / small tablets */
@media (min-width: 576px) {
    
}

@media screen and (min-width:630px){
    .core,.employeer__card{
        grid-column: span 6;
    }
}
/* Tablets */
@media (min-width: 768px) {
    
}

/* Small laptops */
@media (min-width: 992px) {
    .core{
        grid-column: span 3;
    }
    .employeer__card{
        grid-column: span 4;
    }
    
}

/* Desktop */
@media (min-width: 1200px) {
    
}

/* Large desktop */
@media (min-width: 1400px) {
    
}