@import "../css/root.css";
@import "../css/subcss/nav.css";
@import "../css/subcss/footer.css";
@import "../Pages/About/about.css";
@import "../Pages/Menu/menu.css";




/* Hero Background Parts */
.herobg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../src/assets/images/herobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.herobg__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    color: var(--subtitle-color) !important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.title {
    font-family: "Playfair", serif;
    font-weight: 700;
    color: #fff;
    font-size: 72px;
}

.para {
    font-size: 20px;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 50px;
}

.herobg___buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button1 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 10px;
    background-color: var(--button-red);
    border: 1px solid var(--button-red);
    color: #fff;
    font-weight: 500;
}

.button1:hover {
    background-color: #aa1d1d;
    border: 1px solid #aa1d1d;
    transition: background-color 0.8s ease-in;
}

.button2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 10px;
    background-color: #11111170;
    border: 1px solid #33333370;
    color: white;
}

.button2:hover {
    background-color: #111111b4;
    border: 1px solid whitesmoke;
    transition: background-color 0.8s ease-in;
}


/* Story Parts */
.story {
    background-color: var(--default-bg);
    padding: 100px 0px;
}

.story__container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
}


.story__images {
    grid-column: span 12;
    width: 100%;
}


.story__main__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

/*  
.story__sub__bg {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: oklab(39.5843% .119886 .0577565/.3);
    border-radius: 15px;

}
    */

.salam {
    grid-column: span 12;
}

.salam>* {
    text-align: left;
}

.specifities {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


/* Menu Part */
.menu {
    background-color: #0d111b;
}

.menu__container {
    padding: 112px 0px;
    margin: 0 auto;
    text-align: center;
}

.menu__items {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    gap: 30px;
}

.menu__item {
    grid-column: span 12;
    position: relative;
    border-radius: 25px;
    background-color: var(--default-bg);
}

.menu__item__image {
    width: 100%;
}

.menu__item__image>img {
    width: 100%;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.menu__item__texts {
    background-color: var(--default-bg);
    padding: 24px 24px;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.menu__item__texts * {
    color: #fff;
    font-family: "Playfair", sans-serif;
}

.pick {
    background-color: rgb(139, 3, 3);
    color: #fff;
    padding: 8px 10px;
    border-radius: 12px;
    position: absolute;
    top: 3%;
    left: 60%;
}

.view__menu {
    margin-top: 30px;
}

.view__menu>a {
    font-size: 20px;
}


/* Testimonials */

.testimonials {
    background-color: var(--default-bg);
    padding: 120px 0px;
}

.testimonials__container * {
    text-align: center;
}

.user__comments {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    margin-top: 45px;
}


.bi-star-fill {
    color: #ffb900;
}


.testimonial__card {
    grid-column: span 12;
    padding: 32px;
    background-color: #0d111b;
    border-radius: 10px;
}

.testimonial__card>* {
    text-align: left;
    color: #D1D5DB;
}


/* Reservation Part */


.reservation {
    background-color: #0d111b;
    padding: 110px 0px;
}

.reservation__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.reservation__texts {
    grid-column: span 12;
}

.reservation__form {
    grid-column: span 12;
    max-height: 800px;
    padding: 32px;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    background-color: #1f2937;
    border-radius: 20px;
}

.reservation__form div {
    width: 100%;
}

.form__input {
    margin-top: 4px;
    margin-bottom: 15px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #374151;
    color: white;
}

.reservation__button {
    margin-top: 30px;
    width: 100%;
    background-color: var(--button-red);
    padding: 16px 0px;
    border: 1px solid var(--button-red);
    color: #fff;
    border-radius: 10px;
}

label {
    color: #fff;
}

.gallery {
    padding: 110px 0px;
    background-color: #1f2937;
}

.gallery-container>* {
    text-align: center;
}

.gallery-photos {
    padding: 0px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.gallery-photos>img {
    width: 100%;
    height: auto;
    grid-column: span 12;
    object-fit: cover;
    border-radius: 15px;
}

/* Footer */

.footer {
    background-color: #0d111b;
}

.fa-arrow-down {
    font-size: 40px !important;
    margin-top: 40px;
    color: #ffffff;
    animation: ScrollDown 2s ease-in infinite;
}





@keyframes ScrollDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}





@media (min-width: 576px) {
    .gallery-photos img {
        width: 443px;
        height: 443px;
    }
}

@media screen and (min-width:630px) {
    .menu__item {
        grid-column: span 6;
    }

    .herobg___buttons {
        flex-direction: row;
    }

    .form__input {
        width: 100%;
    }

    .reservation__form div {
        width: 46%;
    }

    .story__main__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .gallery-photos>img {
        width: 296px;
        height: 296px;
        grid-column: span 6;
    }
}


/* Tablets */
@media (min-width: 768px) {
    .gallery-photos img {
        grid-column: span 6;
        width: 360px;
        height: 360px;
    }
}

/* Small laptops */
@media (min-width: 992px) {
    .menu__item {
        grid-column: span 3;
    }

    .menu__items {
        justify-content: space-between;
    }

    .reservation__texts {
        grid-column: span 6;
    }

    .reservation__form {
        grid-column: span 6;
    }

    .testimonial__card {
        grid-column: span 4;
    }

    .story__container {
        gap: 4rem;
    }

    .story__images {
        grid-column: span 4;
    }

    .story__main__image {
        width: 100%;
    }

    .salam {
        grid-column: span 8;
    }

    .gallery-photos img {
        grid-column: span 4;
        width: 309px;
        height: 309px;
    }
}


/* Desktop */
@media (min-width: 1200px) {}

/* Large desktop */
@media (min-width: 1400px) {
    .gallery-photos img {
        grid-column: span 3;
        width: 292px;
        height: 292px;
        object-fit: cover;
    }
}