@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
:root{
    --text-link:#d1d5db;
    --button-red:#dc2626;
    --subtitle-color:#f87171;
    --default-bg:#111827;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter",sans-serif;
}

.d-none{
    display: none;
}